<div class="full-screen">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../assets/reward-icon.png" height="50px" width="50px" alt="Reward Game">Reward
        Game</a>
      <button class="btn btn-info" type="button" (click)="goToCommissionerPage()">Kawai Desu</button>
    </div>
  </nav>
  <div class="container">
    <div class="text-center">
      <h2>Current score: </h2>
      <p><span class="display-1">45</span> points</p>
    </div>
    <br>
    <div class="reward-section">
      <h5>Rewards:</h5>
      <div class="d-flex"></div>
    </div>
  </div>
</div>
